<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <nav class="top-menu">
        <a class="navbar-logo" href=""><img src="static/images/loogoo.png" width="80" height="70"></a>
        <ul class="menu-main">
            <li><a href="/">Поиск</a></li>
            <li><a href="/search">Как искать</a></li>
            <li><a href="/about">О проекте</a></li>
            <li><a href="/authors">О нас</a></li>
        </ul>
    </nav>
</head>
<body align="center" background="static/images/background5.png" >
<div class="container">
    <h1>АА!Что это было?</h1>
    <p>Что может быть лучше жуткой истории на Хэллоуин? Конечно же целый корпус жутких историй!
Наша команда собрала тексты пионерских страшилок с сайта https://scarykids.ru/ и сделала из них лингвистический корпус с удобным поиском слов и выражений. 
        Теперь, если вам понадобится изучить язык советских городских легенд – обращайтесь к нашему сайту!
Этот проект – выражение любви к самобытному жанру современного русского фольклора. Надеемся, что вам будет приятно исследовать особенности таких страшилок.
За прекрасные зловещие иллюстрации спасибо художнику Светозару Острову.
    </p>
</div>

</body>
</html>
