<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Об авторах</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <nav class="top-menu">
        <ul class="menu-main">
            <a class="navbar-logo" href=""><img src="static/images/loogoo.png" width="80" height="70"></a>
            <li><a href="/">Поиск</a></li>
            <li><a href="/search">Как искать</a></li>
            <li><a href="/about">О проекте</a></li>
            <li><a href="/authors">О нас</a></li>
        </ul>
    </nav>
</head>
<body align="center" background="static/images/background3.png">
<div class="container2">
    <h1> А вот кто пугал вас сегодня </h1>
    <div class="lineup">
        <div class="person"><img src="static/images/tanya.jpg" height="350" width="250"> Таня </div>
        <div class="person"><img src="static/images/polina.jpg" height="350" width="250">Полина</div>
        <div class="person"><img src="static/images/maxim.jpg" height="350" width="250"> Максим </div>
        <div class="person"><img src="static/images/senya.jpg" height="350" width="250"> Сеня </div>
    </div>
</div>
</body>


