<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск по корпусу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <nav class="top-menu">
        <a class="navbar-logo" href=""><img src="static/images/loogoo.png" width="80" height="70"></a>
        <ul class="menu-main">
            <li><a href="/">Поиск</a></li>
            <li><a href="/search">Как искать</a></li>
            <li><a href="/about">О проекте</a></li>
            <li><a href="/authors">О нас</a></li>
        </ul>
    </nav>
</head>
<body align="center" background="static/images/background1.jpg">
<div class="container">
    <h1>Подсказки</h1>
        <h2>Как именно пользоваться корпусом?<br>
            Сейчас объясним!!</h2>
        <p> </p>
</div>
</body>
</html>