@font-face {
    font-family: Ebbe; /* Гарнитура шрифта */
    src: url('fonts/EbbeRegular.ttf');
} /*загружаем шрифт*/

*{
  font-family: Ebbe;
  color: orange;
}
/*дальше всякие регулировки шрифтов и позиционирование*/
/*главная часть*/
body {
  background-size: cover;
  font-family:Ebbe
}
/*первый заголовок*/
h1 {
  font-color: orange;
  font-size: 250%;
}
/*второй*/
h2{
 font-size: 190%;
 color: #8A2BE2;
}
/*текст*/
p {
  color: orange;
  font-family: Ebbe;
  font-size: 160%;
  line-height: 1.2;
  padding: 20px;
}
/*список*/
ul {
  list-style: none; 
  margin: 0;
  padding-left: 0;
  color: grey;
  font-size: 120%
}
/*наименование формы*/
label {
  color: black;
  font-size: 140%
}
/*форма для ввода*/
input {

	width: 500px;
	font-size: 30px;
	color: grey;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}
/*верхняя плашка*/
.top-menu {
  background: black;
  padding: 10px;
  position: fixed; 
  top: 0; 
  width: 100%; 

}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
/*логотип*/
.navbar-logo {
  display: inline-block;
  float: left;
}
/*верхнее меню*/
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;

}
/*содержимое меню*/
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 25px;
  letter-spacing: 2px;

  color: orange;

}



/*блок1*/
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 15px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-color: orange;
  font-size: 250%;

}

container h2 {
  color: #8A2BE2;
  font-size: 220%
}
/*блок2*/
.container2 {

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;

  border-radius: 15px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.container2 h2{
   font-size: 250%
}
/*блок с авторами*/
.lineup{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;


}
/*раздел про одного человека*/
.person{
  float: center; 
  line-height: 60px;
  font-size: 40px;
  background: black;
  color: Orange;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 300px; 
  border-radius: 15px;

.person img{
  display: block;
  margin: 0 auto;
  border-radius: 45px;

}
  text-align: center;}
/*блок3*/
.container3 {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  border-radius: 15px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: orange;
  line-height: 60px;

}

.container3 h1 {
  font-color: purple;
  font-size: 250%;

